body {
  padding:50px 50px 0px 50px;
  font-size: 16px;
  color:#f0e7d5;
  font-weight: normal;
  background: #000020;
  background-image: url("./bg.png");
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-position: center center;
  background-attachment: fixed;
}

body, td, th, h1, h2, h3, h4, h5, h6, a {
  font-family: "Trebuchet MS", "Trebuchet MS", sans-serif;
  line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
  color: #a8a8a8;
  margin: 0 0 10px;
  font-weight: normal;
}

h1, h2, h3 {
  line-height:1.1;
}

a {
  color:#ee7700;
}

td {
  valign:"top"
}

h1 {
  font-size: 48px;
  text-shadow: 3px 3px 5px #000000;
}

.box {
  padding: 15px 15px 15px 15px;
  margin: 0px 10px 0px 10px;
  background: #00000075;
}